<!DOCTYPE html>
<html lang="en">

<head>
  {% load staticfiles %}
  <!-- start: Meta -->
  <meta charset="utf-8">
  <title>NoteApp</title>
  <meta name="description" content="Small note application" />
  <meta name="keywords" content="Note" />
  <meta name="author" content="Steve" />
  <!-- end: Meta -->
  <!-- start: Mobile Specific -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- end: Mobile Specific -->
  <!-- start: CSS -->
  <link href="{% static 'note/css/style.css' %}" rel="stylesheet">
  <!-- end: CSS -->
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
  <!--start: Header -->
  <header>
    <!--start: Container -->
    <div class="container">
      <!--start: Row -->
      <div class="row-fluid">
        <!--start: Navigation -->
        <div class="navigation">
          <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
              <a class="btn btn-navbar btnOverlay" data-toggle="collapse" data-target=".nav-collapse">
			            		menu
			          		</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="#" class="home">Home</a></li>
                  <li><a href="#" class="pricing">Signup</a></li>
                  <li><a href="#" class="contact">Signin</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!--end: Navigation -->
      </div>
      <!--end: Row -->
    </div>
    <!--end: Container-->
  </header>
  <!--end: Header-->
  <!-- start: 1st Page - Home -->
  <div id="home">
    <div class="demo-1">
      <div id="slider" class="sl-slider-wrapper">
        <div class="sl-slider">
          <div class="sl-slide bg-1" data-orientation="horizontal" data-slice1-rotation="-25" data-slice2-rotation="-25" data-slice1-scale="2" data-slice2-scale="2">
            <div class="sl-slide-inner">
              <div class="deco" data-icon="Note"></div>
              <h2>NoteApp</h2>
              <blockquote>
                <p>This is a note taking application</p>
                <cite>Don't Wait</cite>
              </blockquote>
            </div>
          </div>
          <div class="sl-slide bg-2" data-orientation="vertical" data-slice1-rotation="10" data-slice2-rotation="-15" data-slice1-scale="1.5" data-slice2-scale="1.5">
            <div class="sl-slide-inner">
              <div class="deco" data-icon="Feel"></div>
              <h2>Design</h2>
              <blockquote>
                <p>This application is desgined to be simple</p>
                <cite>Let's try it out</cite>
              </blockquote>
            </div>
          </div>
          <div class="sl-slide bg-3" data-orientation="horizontal" data-slice1-rotation="3" data-slice2-rotation="3" data-slice1-scale="2" data-slice2-scale="1">
            <div class="sl-slide-inner">
              <div class="deco" data-icon="View"></div>
              <h2>Layout</h2>
              <blockquote>
                <p>Large and clear</p>
                <cite>Sign up!</cite>
              </blockquote>
            </div>
          </div>
          <div class="sl-slide bg-4" data-orientation="vertical" data-slice1-rotation="-5" data-slice2-rotation="25" data-slice1-scale="2" data-slice2-scale="1">
            <div class="sl-slide-inner">
              <div class="deco" data-icon="Write"></div>
              <h2>Data</h2>
              <blockquote>
                <p>Reminds you of what is forgotten</p>
                <cite>Start writing</cite>
              </blockquote>
            </div>
          </div>
          <div class="sl-slide bg-5" data-orientation="horizontal" data-slice1-rotation="-5" data-slice2-rotation="10" data-slice1-scale="2" data-slice2-scale="1">
            <div class="sl-slide-inner">
              <div class="deco" data-icon="Try"></div>
              <h2>Conclusion</h2>
              <blockquote>
                <p>Try it out</p>
                <cite>It doesn't hurt</cite>
              </blockquote>
            </div>
          </div>
        </div>
        <!-- /sl-slider -->
        <nav id="nav-arrows" class="nav-arrows">
          <span class="nav-arrow-prev">Previous</span>
          <span class="nav-arrow-next">Next</span>
        </nav>
        <nav id="nav-dots" class="nav-dots">
          <span class="nav-dot-current"></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </nav>
      </div>
      <!-- /slider-wrapper -->
    </div>
  </div>
  <!-- end: 1st Page - Home -->
  <!-- start: 3rd Page - Pricing Tables -->
  <div id="pricing" class="color blue">
    <!--start: Container -->
    <div class="container">
      <!--start: Wrapper -->
      <div class="wrapper span12">
        <!-- start: Page Title -->
        <div id="page-title">
          <div id="page-title-inner">
            <h2>
              <span>Signup</span>
            </h2>
          </div>
        </div>
        <!-- end: Page Title -->
        <!-- start: Table -->
        <div class="four-tables">
          <!-- start: Row -->
          <div class="row-fluid">
            <div class="span12">
              <div class="pricing-table">
                <div class="color-666777">
                  <h3>Sign Up Form</h3>
                  <h4>
                    <span class="price">Personal Note</span>
                    <span class="time">For you only</span>
                  </h4>
                  <ul>
                    <li>Name</li>
                    <li>Account Id</li>
                    <li>Password</li>
                  </ul>
                  <a href="#" class="buy">
                    <span>Sign Up</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--end: Row -->
        </div>
        <!-- end: Table -->
      </div>
      <!-- end: Wrapper -->
    </div>
    <!--end: Container -->
  </div>
  <!-- end: 3rd Page - Pricing Tables -->
  <!-- start: 7th Page - Contact -->
  <div id="contact" class="color white transparent">
    <!--start: Container -->
    <div class="container">
      <!--start: Wrapper -->
      <div class="wrapper span12">
        <!-- start: Page Title -->
        <div id="page-title">
          <div id="page-title-inner">
            <h2>
              <span>Sign In</span>
            </h2>
          </div>
        </div>
        <!-- end: Page Title -->
        <!-- start: Row -->
        <div class="row-fluid">
          <div class="span12">
            <!-- start: Contact Info -->
            Please fill out your account information to use the app
            <!-- end: Contact Info -->
          </div>
        </div>
        <!-- end: Row -->
        <hr class="clean">
        <!-- start: Row -->
        <div class="row-fluid">
          <!-- start: Map -->
          <div class="span6">
            <!-- start: Contact Form -->
            <div id="contact-form">
              <form method="post" action="">
                <fieldset>
                  <input tabindex="4" id="name" name="name" type="text" value="" class="span12" placeholder="Name: ...">
                  <input tabindex="2" id="email" name="email" type="text" value="" class="span12" placeholder="Email: ...">
                  <input tabindex="3" id="www" name="www" type="text" value="" class="span12" placeholder="WWW: ...">
                  <div class="actions">
                    <button tabindex="3" type="submit" class="btn btn-succes btn-large">Send message</button>
                  </div>
                </fieldset>
              </form>
            </div>
            <!-- end: Contact Form -->
          </div>
          <!-- end: Map -->
          <div class="span6" style="height:400px;background-image:url({% static 'note/img/slider/slider3.jpg'%});background-repeat: no-repeat;">
          </div>
        </div>
        <!-- end: Row -->
      </div>
      <!-- end: Wrapper -->
    </div>
    <!--end: Container -->
  </div>
  <!-- end: 7th Page - Contact -->
  <footer>
    <div id="copyright">
      essentia &copy; 2015 creativeLabs. <a href="http://bootstrapmaster.com" alt="Bootstrap Themes">Bootstrap Themes</a> Designed by BootstrapMaster in Poland
    </div>
  </footer>
  <!-- start: Java Script -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="{% static 'note/js/vendor.min.js'%}"></script>
  <script defer="defer" src="{% static 'note/js/custom.js'%}"></script>
  <!-- end: Java Script -->
</body>

</html>